body {
	margin: 0;
	line-height: 1.6;
	background: url('images/bckg.jpg') no-repeat;
	background-size: 100vw 100vh;
	overflow: hidden;
	position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
}

@font-face {
	font-family: GothamM;
	src: url('ttf/ofont.ru_Gotham\ Pro.ttf');
}
@font-face {
	font-family: GothamR;
	src: url('ttf/14078.ttf');
}
  
.menu {
	background-color: #1D1F20;
	position: absolute;
	z-index: 20;
	top: 0;
	bottom: 0;
	right: 0;
}
.slide_menu {
	width: 325px;
	min-height: 100vh;
	transition: 0.4s;
	opacity: 0;
	transform-origin: right;
	transform: scaleX(0);
}
.nav_menu {
	max-width: 260px;
	padding: 0;
	margin: 130px 25px;
   list-style: none;
}
li {
	display: list-item;
   text-align: -webkit-match-parent;
}
.menu_link_btn, .menu_link{
	font-size: 20px;
	font-family: GothamM;
	color: white;
	text-decoration: none;
	letter-spacing: 2px;
}
.menu_link {
	margin: 15px;
	display: block;
}
.menu_link:hover, .menu_link_btn:hover{
	color: #ecdf89;
	text-shadow: 0 0 2px #fdee8e;
}
.logo{
	display: none;
}

.link_planet{
	font-size: 20px;
	font-family: GothamM;
	color: white;
	text-decoration: none;
	letter-spacing: 2px;
	margin: 0 35px;
	display: block;
}
.link_planet:hover{
	color: #ecdf89;
	text-shadow: 0 0 2px #fdee8e;
}
.planet_list{
	transform: scaleY(0);
	transition: 0.2s;
	position: absolute;
	transform-origin: top;
}
.planet_list_active{
	transform: scaleY(1);
	position: static;
}
.arrow{
	height: 16px;
	margin-right: 4px;
	margin-bottom: -1px;
	transition: 0.2s;
}
.arrow_active{
	transform: rotate(90deg);
}

.slide_menu_active {
	transform: scaleX(1);
	opacity: 1;
}
.poloska1, .poloska2, .poloska3{
	position: absolute;
	background-color: white;
	transform: rotate(-26deg) scaleX(0);
	z-index: 20;
	transition: 0.2s;
	transform-origin: right;
}
.poloska1{
	width: 350px;
	height: 3px;
	bottom: 21.5vh;
	right: 8vw;
}
.poloska2{
	width: 430px;
	height: 7px;
	bottom: 35vh;
	right: -3vw;
}
.poloska3{
	width: 230px;
	height: 5px;
	bottom: 29.5vh;
	right: -3vw;
}
.poloska_active{
	transform: rotate(-26deg) scaleX(1);
	transition: 0.2s;
	transform-origin: right;
}
.poloska_act{
	transform: rotate(-26deg) scaleX(0);
}

.menu_btn {
	margin-top: 70px;
	margin-right: 20px;
	width: 56px;
	height: 36px;
	display: block;
	position: relative;
	z-index: 20;
}
.menu_btn span,
.menu_btn span::before,
.menu_btn span::after{
	position: absolute;
	top: 50%; margin-top: -2px;
	width: 56px;
	height: 4px;
	background-color: white;
}
.menu_btn span::before,
.menu_btn span::after{
	content: '';
	display: block;
	transition: 0.4s;
}
.menu_btn span::before{
	transform: translateY(12px);
}
.menu_btn span::after{
	transform: translateY(-12px);
}
.menu_btn_active span{
	height: 0;
}
.menu_btn_active span:before{
	transform: rotate(45deg);
	height: 3px;
	width: 50px;
}
.menu_btn_active span:after{
	transform: rotate(-45deg);
	height: 3px;
	width: 50px;
}
.menu_btn_active {
	transform: translate(100px);
}

.head_nav {
	width: 85vw;
	height: 100vh;
	margin: 0 auto;
	display: flex;
}
.adapt_head{
	width: 75vw;
	display: flex;
	flex-direction: column;
}
.header_inner{
	display: flex;
	justify-content: flex-end;
}
.icons_planets {
	width: 18vw;
	height: 95vh;
	margin: auto 0;
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
}
.planet_icon{
	width: 65px;
	height: 65px;
	border-radius: 50%;
}
.planet_menu{
	display: flex;
}
.radio_btn_text{
	height: 3vh;
	margin: auto 1vw;
	font-family: GothamR;
	font-size: 18px;
	color: white;
}
.shadows{
	width: 9vw;
	height: 89vh;
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
	position: absolute;
	top: 3vh;
	left: 7.5vw;
}
.shadow{
	width: 30px;
	height: 30px;
	background-color: black;
	border-radius: 50%;
	box-shadow: 0 0 10px 10px black;
}

.buttons_planets{
	width: 9vw;
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	top: 3vh;
	left: 7.5vw;
}
.custom-radio {
	position: absolute;
	z-index: -1;
	opacity: 0;
 }
 .custom-radio+label {
	display: inline-flex;
	align-items: center;
	user-select: none;
 }
 .custom-radio+label::before {
	content: '';
	display: inline-block;
	width: 27px;
	height: 27px;
	border: 1px solid white;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
 }
 .custom-radio:not(:disabled):not(:checked)+label:hover::before {
	transition: 0.2s;
	border-color: #ecdf89;
	color: rgba(236, 223, 137, 0.5) ;
 }
 .custom-radio:not(:disabled):active+label::before {
	transition: 0.2s;
	background-color: rgba(236, 223, 137, 0.6);
	border-color: #ecdf89;
 }
 .custom-radio:focus:not(:checked)+label::before {
	border-color: #ecd53b;
 }
 .custom-radio:checked+label::before {
	transition: 0.2s;
	border-color: white;
	background: url('images/round.png') left bottom no-repeat;
}
.custom-radio:disabled+label::before {
	background-color: none;
 }

 @keyframes animatedBackground {
	from { background-position: 0 100%; }
	to { background-position: 0 0 }
 }
.solar_system{
	height: 90vh;
}
.solar{
	width: 70vw;
	position: absolute;
}
.cycle-planet-mercury, .cycle-planet-venus, .cycle-planet-earth, .cycle-planet-mars, .cycle-planet-jupiter, .cycle-planet-saturn, .cycle-planet-uran, .cycle-planet-neptune, .cycle-planet-myplanet {
	width: 1000px; 
	height: 850px;
	clip-path: circle(50% at 50% 100%);
	animation: animatedBackground 40s linear infinite;
	display: none;
	z-index: 10;
	margin: 0 auto;
}
 .cycle-planet-mercury	{ 
	background-image: url("https://vis.sciencemag.org/space-graveyard/img/textures/mercurymap.jpg");
	display: block;
 }
 .cycle-planet-venus	{ 
	background-image: url("https://cosmos-online.ru/wp-content/uploads/2018/10/2k_venus_surface.jpg");
	background-size: 85%;
 }
 .cycle-planet-earth	{  
	background-image: url("https://ia800202.us.archive.org/17/items/SVS-3615/flat_earth_Largest_still.0330.jpg");
	background-size: 130%;
	animation-duration: 25s;
 }
 .cycle-planet-mars	{ 
	background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/mars_texture.jpg");
	background-size: 115%;
 }
 .cycle-planet-jupiter	{ 
	background-image: url("https://cdn.shopify.com/s/files/1/0616/2685/products/Jupiter-Surface-II_1024x1024.jpg?v=1447795612");
	background-size: 110%;
 }
 .cycle-planet-saturn	{ 
	background-image: url("http://hv12-01-v02n1.altspu.ru/SolarSys/map/Saturn.jpg");
	background-size: 85%;
 }
 .cycle-planet-uran	{ 
	background-image: url("https://img00.deviantart.net/957c/i/2017/165/4/9/uranus_texture_map_by_jcpag2010-db7yjwb.png");
	background-size: 110%;
 }
 .cycle-planet-neptune	{ 
	background-image: url("https://cosmos-online.ru/wp-content/uploads/2018/10/2k_neptune.jpg");
	background-size: 85%;
 }
 .cycle-planet-myplanet	{ 
	background-image: url("https://avatanplus.com/files/resources/original/59eb156f03c3315f3e4bb9a7.jpg");
	background-size: 85%;
 }
.cycle-planet-2{
	width: 650px; 
	height: 650px;
	clip-path: circle(50% at 50% 50%);
	display: block;
	z-index: 8;
	margin: 150px auto;
	box-shadow: 0px -50px 200px black inset;
}
.cycle-planet-3{
	width: 400px; 
	height: 400px;
	clip-path: circle(50% at 50% 50%);
	display: block;
	z-index: 6;
	margin: 0 auto;
	box-shadow: 0px -50px 150px black inset;
}
.solar_shadow{
	width: 70vw;
	position: absolute;
}
.shadow-mercury, .shadow-venus, .shadow-earth, .shadow-mars, .shadow-jupiter, .shadow-saturn, .shadow-uran, .shadow-neptun, .shadow-myplanet{
	width: 70vw; 
	height: 1150px;
	margin: 0 auto;
	background: url('images/shadowplanet.png') no-repeat center;
	display: none;
}
.shadow_act2{
	width: 40vw;
	height: 525px;
	margin: 0 auto;
	background: url('images/shadowplanet2.png') no-repeat center;
}
.description {
	width: 50vw; 
	height: x;
	margin: 0 auto;
	color: white;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 1px 1px 2px black, 0 0 1em black;
	display: none;
 }
 
 .description h3 {
	font-size: 50px;
 }
 
 .description p {
	font-size: 18px;
	font-weight: 500;
 }


@media (max-width: 1450px){
	body{
		background-size: auto;
	}
	.menu_btn{
		transform: scale(0.9);
		margin-top: 50px;
	}
	.nav_menu{
		margin: 100px 25px;
	}
	.menu_link{
		font-size: 18px;
		margin: 9px 15px;
	}
	.menu_link_btn, .link_planet{
		font-size: 18px;
	}
	.poloska1{
		bottom: 25vh;
	}
	.head_nav{
		width: 95vw;
	}
	.planet_icon{
		width: 60px;
		height: 60px;
	}
	.radio_btn_text{
		font-size: 15px;
	}
	.shadows, .buttons_planets{
		left: 2vw;
	}
	.cycle-planet-mercury, .cycle-planet-venus, .cycle-planet-earth, .cycle-planet-mars, .cycle-planet-jupiter, .cycle-planet-saturn, .cycle-planet-uran, .cycle-planet-neptune, .cycle-planet-myplanet {
		width: 900px; 
		height: 750px;
	}
	.cycle-planet-2{
		width: 550px; 
		height: 550px;
	}
	.cycle-planet-3{
		width: 300px; 
		height: 300px;
	}
	.shadow-mercury, .shadow-venus, .shadow-earth, .shadow-mars, .shadow-jupiter, .shadow-saturn, .shadow-uran, .shadow-neptun, .shadow-myplanet{ 
		height: 1000px;
	}
}

@media (max-width:1245px){
	.cycle-planet-mercury, .cycle-planet-venus, .cycle-planet-earth, .cycle-planet-mars, .cycle-planet-jupiter, .cycle-planet-saturn, .cycle-planet-uran, .cycle-planet-neptune, .cycle-planet-myplanet {
		width: 800px; 
		height: 700px;
	}
	.cycle-planet-2{
		width: 500px; 
		height: 500px;
	}
	.cycle-planet-3{
		width: 250px; 
		height: 250px;
	}
}
@media (max-width:1140px){
	.cycle-planet-mercury, .cycle-planet-venus, .cycle-planet-earth, .cycle-planet-mars, .cycle-planet-jupiter, .cycle-planet-saturn, .cycle-planet-uran, .cycle-planet-neptune, .cycle-planet-myplanet {
		width: 650px; 
		height: 600px;
	}
	.cycle-planet-2{
		width: 450px; 
		height: 450px;
	}
	.cycle-planet-3{
		width: 250px; 
		height: 250px;
	}
}

@media (max-width: 900px) {
	.head_nav{
		width: 100vw;
		flex-direction: column;
		margin: 0;
	}
	.adapt_head{
		width: 100vw;
		margin: 0;
	}
	header{
		height: 10vh;
		justify-content: center;
		align-content: center;
		width: 95vw;
		margin: 0 auto;
	}
	.header_inner {
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
	}
	.logo img{
		width: 170px;
	}
	.logo{
		display: block;
		margin: 10px 0;
	}
	.menu_btn{
		transform: scale(0.8);
		margin-top: 40px;
		margin-right: 0;
	}
	.nav_menu{
		margin: 100px 25px;
	}
	.menu_link{
		font-size: 18px;
		margin: 9px 15px;
	}
	.menu_link_btn, .link_planet{
		font-size: 18px;
	}
	.poloska1{
		right: 13vw;
	}
	.icons_planets, .shadows, .buttons_planets{
		display: none;
	}
	.solar, .solar_shadow{
		width: 100vw;
		margin: 0 auto;
	}
	.cycle-planet-mercury, .cycle-planet-venus, .cycle-planet-earth, .cycle-planet-mars, .cycle-planet-jupiter, .cycle-planet-saturn, .cycle-planet-uran, .cycle-planet-neptune, .cycle-planet-myplanet {
		width: 100vw; 
		height: 110vh;
	}
	.cycle-planet-2{
		width: 500px;
		height: 500px; 
	}
	.cycle-planet-3{
		width: 300px; 
		height: 300px;
	}
	.shadow-mercury, .shadow-venus, .shadow-earth, .shadow-mars, .shadow-jupiter, .shadow-saturn, .shadow-uran, .shadow-neptun, .shadow-myplanet{ 
		width: 100vw;
		height: 1300px;
	}
	.shadow_act2{
		width: 70vw;
		height: 525px;
	}
}
@media (max-width:770px){
	.cycle-planet-mercury, .cycle-planet-venus, .cycle-planet-earth, .cycle-planet-mars, .cycle-planet-jupiter, .cycle-planet-saturn, .cycle-planet-uran, .cycle-planet-neptune, .cycle-planet-myplanet {
		width: 100vw; 
		height: 95vh;
	}
	.cycle-planet-2{
		width: 450px; 
		height: 450px;
	}
	.cycle-planet-3{
		width: 250px; 
		height: 250px;
	}
}

@media (max-width: 600px) {
	.logo img{
		width: 130px;
	}
	.logo{
		margin: 10px 0;
	}
	.menu_btn{
		transform: scale(0.7);
		margin-top: 25px;
	}
	.nav_menu{
		margin: 80px 25px;
	}
	.menu_link{
		font-size: 16px;
		margin: 4px 15px;
	}
	.menu_link_btn, .link_planet{
		font-size: 16px;
	}
	.poloska1{
		right: 20vw;
	}
	.cycle-planet-2{
		width: 400px;
		height: 400px; 
	}
	.cycle-planet-3{
		width: 200px; 
		height: 200px;
	}
}
@media (max-width:515px){

	.cycle-planet-mercury, .cycle-planet-venus, .cycle-planet-earth, .cycle-planet-mars, .cycle-planet-jupiter, .cycle-planet-saturn, .cycle-planet-uran, .cycle-planet-neptune, .cycle-planet-myplanet {
		width: 100vw; 
		height: 90vh;
	}
	.cycle-planet-2{
		width: 380px; 
		height: 380px;
	}
	.cycle-planet-3{
		width: 180px; 
		height: 180px;
	}
}